<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet/less" href="/style.less">
	<script src="/less.js"></script>
	<script src="/jquery-1.11.1.min.js"></script>
</head>
<body>
	<header>
		<div class="wrapper">
			<img src="/gfx/logo.png">
			<span>Twitter Clone</span>
		</div>
	</header>
	<div id="content">
		<div>
			<!-- display the error message here -->
			<div id="message"></div>

			<hr class="top-10" />

			<div><form action="/validate" id="validate">
			<div><label class="control-label res-clabel" for="user">User</label>
			<div><input id="user" type="text" name="user"/></div>
			</div>
			<div><label for="pass">Password</label>
			<div><input id="pass" type="password" name="pass" /></div>
			</div>
			<button type="submit" >Sign in</button>

			</form>
		</div>
	</div>
<script>
$( "#validate" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    username = $form.find( "input[name='user']" ).val(),
    password = $form.find( "input[name='pass']" ).val(),
    url = $form.attr( "action" );

		$.ajax({
			type: "POST",
			url: "." + url,
			data: { username: username, password: password },
			success: function(r) {
				if (r){
					window.location = "/home";
				}
			},
			error : function(xhr,errmsg,err) {
				if (xhr.status == 403){
					$("#message").text("Invalid password")
				}
				console.log(xhr.status + ": " + errmsg); // provide a bit more info about the error to the console
			}
		});
});
</script>
	<footer>
		<div class="wrapper">
			A Twitter Clone by YOUR NAME HERE
		</div>
	</footer>
</body>
</html>
