<div class="panel right">
    <h1>Create a Tweet</h1>
    <p>
        <form action="/newTweet" id="newTweet">
            <textarea name="text" class="ribbitText"></textarea>
            <input type="submit" value="Tweet!">
        </form>
        <div id="result"></div>
    </p>
</div>
<script>
$( "#newTweet" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    text = $form.find( "textarea[name='text']" ).val(),
    url = $form.attr( "action" );

  // Send the data using post
  var posting = $.post( url, { text: text } );

  // Put the results in a div
  posting.done(function( o ) {
    $( "#result" ).empty().append( o.message );
  })
  .fail(function( h ) {
    var o = h.responseJSON;
    $( "#result" ).empty().append( o.message );
  });
});

$(function() {
$( "#follow_link" ).click(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  url = $(this).attr( "href" );

    $.ajax({
      type: "POST",
      url: url,
      success: function(r) {
        if (r.following){
          $("#follow_link").text("Unfollow")
          $("#follow_link").attr( "href", $("#follow_link").attr("href").replace("follow","unfollow") );
        }else{
          $("#follow_link").text("Follow")
          $("#follow_link").attr( "href",  $("#follow_link").attr("href").replace("unfollow","follow") );
        }
      },
      error : function(xhr,errmsg,err) {
        if (xhr.status == 403){
          $("#message").text("Failed")
        }
      }
    });
});
});
</script>
<div id="ribbits" class="panel left">
	<h1><a href="/usr/<%= username %>"> <%= title %> </a></h1>
    <div>
        <% if (following == false) { %>
            <a href="/usr/<%= username %>/follow" id="follow_link">Follow</a>
        <% } else if (following == true) { %>
            <a href="/usr/<%= username %>/unfollow" id="follow_link">Unfollow</a>
        <% } %>
    </div>
    <% for(var i=0; i < tweets.length; i++) { %>
	    <div class="ribbitWrapper">
	    	<img class="avatar" src="/gfx/user2.png">
	    	<span class="name">
                <a href="/usr/<%= tweets[i].username %>">
                    <%= tweets[i].username %>
                </a>
            </span>
            <span class="time"><%= tweets[i].display_time %></span>
	    	<p><%= tweets[i].text %></p>
	    </div>
    <% } %>
</div>
